<% content_for :title, "Editing swatch" %>

<h1>Editing swatch</h1>

<%= render "form", swatch: @swatch %>

<br>

<div>
  <%= link_to "Show this swatch", [:admin, @swatch] %> |
  <%= link_to "Back to swatches", admin_swatches_path %>
</div>
