<%= link_to [:admin, fill], class: "fillCard", id: dom_id(fill) do %>
  <div class="fillColor" style="background: <%= get_css_background_value(fill) %>"></div>

  <div class="fillCardInfo">
    <div class="fillColorHex">
      Colors: <%= fill.colors.count %>
      <%#= css_color %>
    </div>

    <div class="fillName">
      Variable: <%= fill.name %>
    </div>
  </div>

<% end %>