<%= turbo_stream_from "comments" %>

<div id="comments_section">
  <%= render "comments/counter", commentable: commentable %>
  <%= render "comments/form", comment: Comment.new, commentable: commentable %>

  <div id="comments">
    <%= render commentable.comments %>
  </div>
</div>