<div class="fillCard" id="<%= dom_id fill %>">
  <div class="fillColor" style="background-color: #<%= fill.color %>"></div>

  <div class="fillCardInfo">
    <div class="fillName"><%= fill.name %></div>
    <div class="fillColorHex">#<%= fill.color %></div>
  </div>
</div>