<p style="color: green"><%= notice %></p>

<% content_for :title, "Fills" %>

<h1>Fills</h1>
<%= link_to "New fill", new_fill_path %>

<div class="fillsTeaser">
  <% @fills.each do |fill| %>
    <%= render "projects/fill", fill: fill %>
  <% end %>
</div>