<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1><%= t("hello") %></h1>

<h1>Главная</h1>
<p>Здесь верстаем главную страницу со сборщиком имейлов</p>

<div id="new_subscription">
  <%= render "subscriptions/form" %>
</div>