<footer>
  <div>
    <%= link_to "О проекте", welcome_about_url %>
  </div>

  <div>
    <%= link_to "EN", language_path(locale: 'en') %> |
    <%= link_to "RU", language_path(locale: 'ru') %>
  </div>
</footer>